<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
</head>
<body>
    <h1>Here are some delicious foods!</h1>

    @{
        List<string> food = new List<string>()
            {
                "French fries",
                "Sweet potato pie",
                "Crushed taro boba",
                "Ube Pancakes",
                "Gnocchi with pesto",
                "Gamja jeon",
                "Saag Aloo",
                "Potato Tahdig",
                "Latkes"
            };

        foreach (string item in food)
        {
            <p style="color: rebeccapurple;">@item</p>
        }
    }
    
</body>
</html>